*{
    margin:0;
    padding:0;
    font-family:'Roboto', sans-serif
}

.top {
    background-color: #1f2937;
    ;
}
.container{
    ;
    justify-content:space-between
}

.logo {
    font-size: 24px;
    color: #f9faf8
}

.links-and-logo { 
    
    
}


ul {
    gap: 24px
}

li {
    list-style-type: none;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #e5e7eb
}

.hero{
    
}

.hero-text{
    
}

.hero-main-text{
    font-size:48px;
    font-weight: 900;
    color:#f9faf8
}

.hero-secondary-text{
    font-size:18px;
    color:#e5e7eb
}

button{
    background-color:#3882f6;
    padding:8px 24px;
    color:#fff;
    border-radius:5px;
    font-weight:bold;
    text-align:center;
    border-style:none
}